* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: Geist;
}

.header-hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)),url("../img/sfondo-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    justify-content: center;
    align-items: center;
}

.hero-container {
    color: white;
    height: 76vh;
    display: flex;
    max-width: 1300px;
}

.hero {
    margin: auto 35px 60px 35px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.44px;
    line-height: 95%;
    margin-bottom: 40px;
}

h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -.66px;
    line-height: 100%;
    margin-bottom: 40px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.8px;
    line-height: 109%;
}

header {
    background-color: rgb(255 245 80);
    border-radius: 9999px;
    padding: .5rem 2rem;
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: fixed;
    top: 15px;
    left: 20px;
    right: 20px;
    z-index: 1000;
}

.menu-desktop {
    display: none;
}

/* Tablet */
@media (min-width: 768px) {
    h1 {
        font-size: 72px;
        line-height: 85%;
    }

    h3 {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 98%;
    }

    h4 {
        font-size: 20px;
        letter-spacing: -1px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    h1 {
        font-size: 104px;
        letter-spacing: -2.08px;
        line-height: 100%;
    }

    h3 {
        font-size: 32px;
        line-height: 100%;
    }

    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: inline;
        font-size: 16px;
        letter-spacing: -.39px;
        line-height: 95%;
        color: inherit;
        text-decoration: none;
        font-weight: 400;
        list-style-type: none;
        margin-right: 15px;
    }

    .home {
        text-decoration: underline;
    }

    .hero-paragraphs-container {
        display: flex;
        justify-content: space-between;
        align-items: top;
        gap: 50px;
    }
}