* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: Geist;
}

.header-hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)),url("../img/sfondo-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 638px;
}

header {
    background-color: rgb(255 245 80);
    border-radius: 9999px;
    padding: .5rem 2rem;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: fixed;
    top: 0px;
    left: 20px;
    right: 20px;
    z-index: 1000;
}

.menu-desktop {
    display: none;
}

.hero {
    color: white;
    margin: 250px 15px 40px 15px;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1.44px;
    line-height: 95%;
}

.hero h1 {
    margin-bottom: 40px;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -.66px;
    line-height: 100%;
    margin-bottom: 40px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.8px;
    line-height: 109%;
}

h6 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 100%;
    margin-block-start: 2.33em;
}

.spazio-consulenze-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    max-width: 1300px;
}

.spazio-consulenze {
    margin: 90px 15px;
}

.spazio-consulenze h1 {
    font-weight: 500;
    margin-block-end: 0.67em;
}

p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.32px;
    line-height: 135%;
    margin-block-end: .5em;
    padding-bottom: 15px;
}

.yellow-button {
    border-radius: 9999px;
    display: inline-block;
    background-color: rgb(255 245 80);
    color: #0009;
    font-weight: 600;
    padding: 18px 1.5rem;
    font-size: 14px;
    letter-spacing: -.28px;
    line-height: 120%;
    text-decoration: inherit;
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
}

.yellow-button:hover {
    filter: brightness(90%);
}

.ape-container {
    width: 100%;
    height: 720px;
}

.ape {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.spazio-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 245 80);
}

.spazio-cards {
    margin: 70px 15px 50px 15px;
}

.white-button {
    background-color: white;
    color: black;
    border-radius: 9999px;
    display: inline-block;
    font-weight: 400;
    padding: 18px 1.5rem;
    font-size: 16px;
    letter-spacing: -.32px;
    line-height: 120%;
    text-decoration: inherit;
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
    margin: 25px 0;
}

.white-button:hover {
    filter: brightness(90%);
}

.spazio-cards h3 {
    margin-bottom: 30px;
}

.cards-container {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.cards h6 {
    margin: 50px 35px 30px 35px;
}

.cards p {
    margin: 0 35px 0px 35px;
}

.dark {
    background-color: #222333;
    color: white;
}

.light {
    color: #222333;
    background-color: white;
}

.cards img {
    width: 300px;
    align-self: center;
}

/* Tablet */
@media (min-width: 768px) {
    h1 {
        font-size: 64px;
        letter-spacing: -3.84px;
        line-height: 85%;
    }

    .hero h1 {
        font-size: 72px;
        line-height: 85%;
    }

    h3 {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 98%;
    }

    h4 {
        font-size: 20px;
        letter-spacing: -1px;
    }

    .spazio-consulenze .paragraphs-container {
        display: flex;
        justify-content: space-between;
        align-items: top;
        gap: 50px;
    }

    .button {
        font-size: 16px;
        letter-spacing: -.32px;
    }

    .couple-cards {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    h1 {
        font-size: 72px;
        letter-spacing: -2.88px;
        line-height: 100%;
    }

    .hero h1 {
        font-size: 104px;
        letter-spacing: -2.08px;
    }

    h3 {
        font-size: 32px;
        line-height: 100%;
    }

    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: inline;
        font-size: 16px;
        letter-spacing: -.39px;
        line-height: 95%;
        color: inherit;
        text-decoration: none;
        font-weight: 400;
        list-style-type: none;
        margin-right: 15px;
    }

    .home {
        text-decoration: underline;
    }

    p {
        font-size: 18px;
        letter-spacing: -.36px;
    }

    .paragraphs-container {
        display: flex;
        justify-content: space-between;
        align-items: top;
        gap: 50px;
    }

    .button {
        font-size: 18px;
        letter-spacing: -.36px;
    }
}